// Variabelen

// -- Fonts --
$orbitron:'Orbitron', sans-serif;
$comfortaa: 'Comfortaa', cursive;

// -- Kleuren --
$white: #ffffff;
$lightgray: #f1f1f1;
$cfblue: #202653;
$cfgreen: #5AC3AA;

// Header

.logo {
    position: absolute;
    width: 200px;
    top: 50px;
    left: 150px;
  }

.corner {
    position: absolute;
    width: 150px;
    left: 0;
    top: 0;
  }

.header {
    width: 100%;
    height: 180px;
    background-color: $white;
    margin-bottom: 20px;
}

// Buttons

.button {
    font: 100% $comfortaa;
    padding: 10px 20px;
    background-color: $cfgreen;
    color: $white;
    border-radius: 20px;
    border: 0px !important;
    text-align: center;
    cursor: pointer;
}

.page {
    .dragmenuItem {
        border-radius: 0px;
    }
}

// Algemene CSS
p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $white;
  }

body {
    background-color: $white;
    overflow: hidden;
}

.tile {
    background-color: $lightgray;
    height: 220px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
}

.label {
    font: 80% $orbitron;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: $white;
}


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  .hospitality {
    background-image: url("../configurator/dashboard/img/hospitality.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

.col-lg-3 {
    a {
        color: $cfblue;
    }

    a:visited, a:active, a:hover {
        color: $cfblue;
        text-decoration: none;
    }
}

.dragmenu {
    padding: 10px;
    background-color: $lightgray;
    height: 800px;
    width: 500px;
    bottom: 0px;
    overflow: scroll;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
}

.dragmenuItem {
    font: 80% "Comfortaa", cursive;
    background-color: #ffffff;
    position: relative;
    color: #202653;
    text-align: center;
    margin-top: 5px;
    margin: 10px 0px;
    padding: 20px !important;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.dragmenuItem {
    p {
        margin-bottom: 0rem !important;
        margin-left: 20px;
    }
}

.page {
    .dragmenuItem {
        p {

        }
    }
}


.dots {
    width: 10px;
    display: block;
    left: 20px;
}

.page {
    height: 35vw;
    background-color: $lightgray;
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
}

.page-label {
    font: 80% $orbitron;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: $cfblue;
}

.addPage {
        height: 35vw;
        background-color: $white;
        border-color: $cfblue;
        opacity: 0.6;
        border-radius: 20px;
        border-style: dashed;
        border-width: 1px;
        position: relative;
}


.addPageText {
    font: $orbitron;
    font-size: 3em;
    font-weight: 100;
    margin: 0;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%)
}

.multi {
    width: 15px;
}

.delete {
    margin-left: 20;
    padding: 7px 10px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    background: $cfgreen;
    box-shadow: 0px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 20px;
    color: $cfblue !important;
    font: 100% $orbitron;
    font-size: 12px;
  }

.offset-lg-0 {
    margin-left: 20px !important;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .uitleg {
    padding: 40px;
    display: flex;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
    margin: 0;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%)
}


.uitleg {
    h1 {
        font: 1.8em $orbitron;
        font-weight: bold;
        margin-left: 26px;
    }
    ol {
        font: 0.9em $comfortaa;
        line-height: 1.4em;
    }
    li {
        margin-top: 20px;
    }
    .vl {
        border-left: 1px solid darkgray;
        margin: 0px 20px 0px 20px;
      }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}

.dragmenuItem {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}
.dragmenuItem header {
  height: 20px;
  width: 150px;
  color: black;
  background-color: #ccc;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #666666;
}

.dragmenuItem.dragElem {
  opacity: 0.4;
}
.dragmenuItem.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}

.page-sortable {
    width: 100%;
    height: 35vw;
}

.pageContainer {
    overflow: scroll;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}

.button {
    a:visited {
        color: $white;
    }
}

// Confirmation page

.confirmation {
    text-align: center;
    width: 60%;


    h1 {
        font: 150% $orbitron !important;
        margin-bottom: 20px;
        font-weight: 600 !important;
        text-transform: uppercase;
        color: $cfblue;

    }

    p {
        font: 100% $comfortaa !important;
        line-height: 1.6 !important;
        margin-bottom: 50px;
    }

}

.text-input {
    font: 100% $comfortaa;
    padding: 10px 20px;
    border-radius: 20px;
    background: $lightgray;
    border-width: 0px;
    color: gray;
}



  // Media Queries
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .container {
            margin-top: 720px;
        }

        .logo {
            margin: 0;
            position: absolute;
            top: 10%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
